pipeline-n8n.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH verifica_data AS (\n  SELECT id FROM dim_data \n  WHERE dia = {{ $json.dia }} \n    AND mes = {{ $json.mes }} \n    AND ano = {{ $json.ano }}\n),\ninsere_data AS (\n  INSERT INTO dim_data (id, data, ano, mes, dia)\n  SELECT \n    (SELECT COALESCE(MAX(id),0) + 1 FROM dim_data),\n    '{{ $json.original_data.Data_Venda }}',\n    {{ $json.ano }},\n    {{ $json.mes }},\n    {{ $json.dia }}\n  WHERE NOT EXISTS (SELECT 1 FROM verifica_data)\n  RETURNING id\n),\ninsere_prod AS (\n  INSERT INTO dim_produto (id, nome, categoria, preco)\n  SELECT \n    {{ $json.original_data.ID_Produto }},\n    '{{ $json.original_data.Nome_Produto }}',\n    '{{ $json.original_data.Categoria }}',\n    '{{ $json.original_data.Preco_Unitario }}'\n  WHERE NOT EXISTS (SELECT 1 FROM dim_produto WHERE id = {{ $json.original_data.ID_Produto }})\n  RETURNING id\n),\ninsere_cliente as (\n  INSERT INTO dim_cliente (id, nome, sexo, idade, email)\n  SELECT \n    {{ $json.original_data.ID_Cliente }},\n    '{{ $json.original_data.Nome }}',\n    '{{ $json.original_data.Sexo }}',\n     {{ $json.original_data.Idade }},\n    '{{ $json.original_data.Email }}'\n  WHERE NOT EXISTS (SELECT 1 FROM dim_cliente WHERE id = {{ $json.original_data.ID_Cliente }})\n  RETURNING id\n),\ninsere_loja as (\n  INSERT INTO dim_loja (id, nome, cidade, estado, regiao)\n    SELECT \n      {{ $json.original_data.ID_Loja }},\n      '{{ $json.original_data.Nome_Loja }}',\n      '{{ $json.original_data.Cidade }}',\n      '{{ $json.original_data.UF }}',\n      '{{ $json.original_data.Regiao }}'\n    WHERE NOT EXISTS (SELECT 1 FROM dim_loja WHERE id = {{ $json.original_data.ID_Loja }})\n    RETURNING id\n),\nid_data AS (\n  SELECT id FROM verifica_data\n  UNION ALL\n  SELECT id FROM insere_data\n)\nINSERT INTO fato_vendas (id, data_id, loja_id, produto_id, cliente_id, quantidade, valor_total)\nSELECT\n  {{ $json.original_data.ID_Venda }},\n  (SELECT id FROM id_data LIMIT 1),\n  {{ $json.original_data.ID_Loja }},\n  {{ $json.original_data.ID_Produto }},\n  {{ $json.original_data.ID_Cliente }},\n  {{ $json.original_data.Quantidade }},\n  {{ $json.original_data.Valor_Total }}\nWHERE NOT EXISTS (SELECT 1 FROM fato_vendas WHERE id = {{ $json.original_data.ID_Venda }})\nRETURNING 'Dados inseridos com sucesso' AS resultado;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1220,
        -60
      ],
      "id": "db376c7c-a9ee-4e73-9195-59f57fae3cab",
      "name": "Postgres3",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "n3LxoPaJ3rxi50x3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const vendas = $input.all(); // pega todos os registros de entrada\n\nreturn vendas.map(item => {\n  const venda = item.json;\n  const dataVenda = venda.Data_Venda;\n  const dataObj = new Date(dataVenda);\n\n  return {\n    json: {\n      original_data: venda,\n      data: dataVenda,\n      ano: dataObj.getFullYear(),\n      mes: dataObj.getMonth() + 1,\n      dia: dataObj.getDate()\n    }\n  };\n});"
      },
      "id": "ba8ffa59-9d26-4e3c-93e9-c9625bcf0779",
      "name": "Extrair Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        920,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction sanitizeEmail(email) {\n  if (!email) return '';\n  const cleanEmail = email.trim().toLowerCase();\n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  return emailRegex.test(cleanEmail) ? cleanEmail : '';\n}\n\nfunction sanitizePhone(phone) {\n  if (!phone) return '';\n  \n  const digits = phone.replace(/\\D/g, '');\n\n  if (digits.length === 10) {\n    return `(${digits.slice(0, 2)}) ${digits.slice(2, 6)}-${digits.slice(6)}`;\n  } else if (digits.length === 11) {\n    return `(${digits.slice(0, 2)}) ${digits.slice(2, 7)}-${digits.slice(7)}`;\n  }\n\n  return digits;\n}\n\n\n\nreturn $input.all().map(item => {  \n  const venda = item.json;\n  venda.Email = sanitizeEmail(venda.Email);\n  venda.Telefone = sanitizePhone(venda.Telefone);\n  venda.Data_Venda = new Date(venda.Data_Venda).toISOString().split('T')[0]; // YYYY-MM-DD\n  venda.Quantidade = parseInt(venda.Quantidade);\n  venda.Preco_Unitario = parseFloat(venda.Preco_Unitario);\n  venda.Valor_Total = parseFloat(venda.Valor_Total);\n  return { json: venda };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        -60
      ],
      "id": "b5c677f6-ac3f-428f-b1ba-364be9805b75",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "255db139-0d1c-46e6-a54b-e637b821dc40",
      "name": "Extract from CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -140,
        -60
      ]
    },
    {
      "parameters": {
        "filePath": "/data/arquivo.csv"
      },
      "id": "4f6a44ef-ebb9-47bb-b011-d300318df057",
      "name": "Read File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -440,
        -60
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  {{ $json.ID_Cliente }} AS ID_Cliente,\n  {{ $json.ID_Venda }} AS ID_Venda,\n  '{{ $json.Data_Venda }}' AS Data_Venda,\n  {{ $json.ID_Produto }} AS ID_Produto,\n  '{{ $json.Nome_Produto }}' AS Nome_Produto,\n  '{{ $json.Categoria }}' AS Categoria,\n  {{ $json.Quantidade }} AS Quantidade,\n  {{ $json.Preco_Unitario }} AS Preco_Unitario,\n  {{ $json.Valor_Total }} AS Valor_Total,\n  {{ $json.ID_Loja }} AS ID_Loja,\n  '{{ $json.Nome_Loja }}' AS Nome_Loja,\n  '{{ $json.Metodo_Pagamento }}' AS Metodo_Pagamento,\n  '{{ $json.Cidade }}' AS Cidade,\n  '{{ $json.Estado }}' AS Estado,\n  '{{ $json.Regiao }}' AS Regiao,\n  c.*\nFROM Cliente c\nWHERE c.Id_Cliente = {{ $json.ID_Cliente }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        200,
        -60
      ],
      "id": "6c2e2068-ead4-468b-8a16-67e5dcfb7c17",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "bBL61QKil4HQU3nA",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -880,
        80
      ],
      "id": "f0cc10c2-3d23-40db-8ea3-a375eda93e56",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.* FROM Cliente c;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -140,
        320
      ],
      "id": "d68d2095-9351-4137-94c0-ebcfb65f19c8",
      "name": "MySQL1",
      "credentials": {
        "mySql": {
          "id": "bBL61QKil4HQU3nA",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Função para limpar e validar e-mail\nfunction sanitizeEmail(email) {\n  if (!email) return '';\n  const cleanEmail = email.trim().toLowerCase();\n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  return emailRegex.test(cleanEmail) ? cleanEmail : '';\n}\n\n// Função para limpar e formatar telefone\nfunction sanitizePhone(phone) {\n  if (!phone) return '';\n  \n  // Remove tudo que não for dígito\n  const digits = phone.replace(/\\D/g, '');\n\n  // Opção A: Retornar apenas os números\n  // return digits;\n\n  // Opção B: Formatar com máscara (se possível)\n  if (digits.length === 10) {\n    // Ex: 5198765432 => (51) 9876-5432\n    return `(${digits.slice(0, 2)}) ${digits.slice(2, 6)}-${digits.slice(6)}`;\n  } else if (digits.length === 11) {\n    // Ex: 51987654321 => (51) 98765-4321\n    return `(${digits.slice(0, 2)}) ${digits.slice(2, 7)}-${digits.slice(7)}`;\n  }\n\n  // Se não bater com nenhum padrão esperado, retorna só os números\n  return digits;\n}\n\n// Processa todos os itens\nreturn items.map(item => {\n  const data = item.json;\n\n  data.Email = sanitizeEmail(data.Email);\n  data.Telefone = sanitizePhone(data.Telefone);\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        320
      ],
      "id": "51a4a408-176a-475d-a005-e0d888863311",
      "name": "Code1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "dim_cliente",
          "mode": "list",
          "cachedResultName": "dim_cliente"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.ID_Cliente }}",
            "sexo": "={{ $json.Sexo }}",
            "nome": "={{ $json.Nome }}",
            "idade": "={{ $json.Idade }}",
            "email": "={{ $json.Email }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sexo",
              "displayName": "sexo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idade",
              "displayName": "idade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        520,
        320
      ],
      "id": "32c15c15-0c7f-41eb-b67c-76f38cb178e6",
      "name": "Postgres",
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "postgres": {
          "id": "n3LxoPaJ3rxi50x3",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Postgres3": {
      "main": [
        []
      ]
    },
    "Extrair Data": {
      "main": [
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Extrair Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          },
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e044d6223253e37a177cbcef00130d9b389dc0465d1a42294a1e0708f15acd39"
  }
}